.NavItem {
    margin: 0;
    box-sizing: border-box;
    align-items: center;
    height: 100%;
    display: flex;
}

.NavItem a {
    color: white;
    text-decoration: none;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a:active {
    background-color: #8F5C2C;
    border-bottom: 4px solid #40A4C8;
    color: white;
}