.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.InputElement
{
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 6px 10px;
}

.Label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

.Error{
    margin-left: 5px;
    font-size: 13px;
    color: red;
  }

